body{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu > li{
    margin-left: 5px;
}

h1{
    font-family: 'Pacifico', cursive;
}