<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
    <title>Document</title>
</head>
<body>
<div>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/filmes">Filmes</a></li>
        <li><a href="/cadastro">Cadastrar</a></li>
    </ul>
</div>

<div class="banner">
    <h1>Masterflix: Olá Mundo!</h1>
    <marquee behavior="" direction="">Olá Mundo</marquee>
</div>
</body>
</html>